aiofile==3.8.8
aioredis==2.0.1
amazon-transcribe==0.6.2
celery==5.3.6
email-validator==2.1.0.post1
fastapi==0.104.1
httptools==0.6.1
httpx==0.26.0
ipykernel==6.28.0
itsdangerous==2.1.2
jinja2==3.1.2
networkx==3.2.1
omegaconf==2.3.0
openai==0.28.1
openpyxl==3.1.2
orjson==3.9.10
pandas==2.2.0
pip-chill==1.0.3
pyaudio==0.2.14
pydantic-extra-types==2.4.1
pydantic-settings==2.1.0
pydub==0.25.1
pyngrok==7.0.0
pysilero-vad==1.0.0
python-jose==3.3.0
python-multipart==0.0.6
redis==5.0.1
soniox==1.10.1
sqlmodel==0.0.14
triton==2.1.0
twilio==8.10.0
ujson==5.9.0
uvicorn==0.23.2
uvloop==0.19.0
watchfiles==0.21.0
webrtcvad==2.0.10
xlrd==2.0.1
